body{
    background-color: #414141;
}
.heading{
    background-color: red;
    color: white;
    font-size: 40px;
}

p{
    background-color: blue;
    color: white;
    font-size: 16px;
}

#main-heading{
    background-color: green;
    color: white;
    font-size: 50px;
}